.row
  .col-xs-6.col-md-4 
    &nbsp;
  .col-xs-6.col-md-4 
    %button.btn.btn-success.btn-lg.btn-block{type: "button",'ng-click' => "click()"} Click me and see Icons floating !
  .col-xs-6.col-md-4 
    &nbsp;