#flasher{'ng-controller' => 'FlasherCtrl'}
  .icons{"ng-repeat" => "i in icons"}
    {{i}}
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"} Flasher - Click me!
  - 600.times do 
    .col-md-1
      %h2
        %span.glyphicon{"ng-class" => '{"glyphicon-camera": true}'}
      

