#flasher{'ng-controller' => 'FlasherCtrl'}
  = render 'form'
  {{showIcon}}
  #allIcons
    %ul
      - 600.times do |row_number|
        = content_tag :span, class: "col-md-1" do 
          %li{"ng-show" => "rowNumberMultiple() == true"}
            %h1
              = content_tag :span, nil,class: 'glyphicon {{randomIcon}} {{color}}'
      

